<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Development Database -->
		<add key="dbHost" value="ec2-52-70-45-163.compute-1.amazonaws.com"/>
		<add key="dbPort" value="5432"/>
		<add key="dataBase" value="ddq1lvdctikfh"/>
		<add key="userId" value="ijtcapcjbzubab"/>
		<add key="password" value="1dd19f416a04c61986156c228cf4694b35d27b01fb8403bb8e17ea228d24add7"/>
	</appSettings>
</configuration>